*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.botao-menu {
    background: #FFDED9;
    border: 1px solid #ccc;
    height: 4rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.menu {
    background: #FFEEEB;
    border: 1px solid #ccc;
    width: 12rem;
    height: calc(100vh - 4rem);
    padding-right: 2rem;
    transition: translate .3s;
}

.menu nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}   

.menu.close {
    translate: -100%;
}

.menu-desktop {
    background-color: #FFCDC6;
    display: none;
}


@media(min-width: 900px) {
    .menu-mobile {
        background-color: #FFCDC6;
        display: flex;
        justify-content: space-between;
        display: none;
    }

    .menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sobre{
        background: #fff;
    }

    .menus{
        background-color: #FFCDC6;
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat;
        font-size: 1.2rem;
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.0rem;    
    }
    
    .titulos h1{
        color: #000;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .titulos img{
        float: left;
        justify-content: left;
        width: 2rem;
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    
    .contents{
        text-align: left;
        justify-content: left;
    }
    

    .texts p{
        color: #000;
        font-family: Commissioner;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .texts{
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
 
    .figures{
        display: flex;
        justify-content: center;
      }
    
    .figures img{
        width: 50rem;
    }
}