*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botao-menu {
    border: 1px solid #ccc;
    height: 4rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.menu {
    border: 1px solid #ccc;
    width: 12rem;
    height: calc(100vh - 4rem);
    padding-right: 2rem;
    transition: translate .3s;
}

.menu nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}   

.menu.close {
    translate: -100%;
}

.menu-desktop {
    display: none;
}


@media(min-width: 900px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .equip{
        background: #F5F0F0;
    }
    
    .logoe{
        display: flex;
        justify-content: left;
    }
    
    .logoe img{
        width: 8rem;
    }
    
    .menue{
        display: flex;
        justify-content: right;
    }
    
    .menue img{
        width: 2.5rem;
    }
    
    .tituloe{
        color: #000;
        font-family: Montserrat;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .contente{
        text-align: left;
        justify-content: left;
    }
    
    .texte{
        display: flex;
        width: 969.833px;
        height: 183px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    
        color: #2D2A2A;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .ard p{
        text-align: right;
        color: #2D2A2A;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #2D2A2A;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .mq p{
        display: flex;
        width: 971.174px;
        height: 183px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #2D2A2A;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .lcd p{
        text-align: right;
        display: flex;
        width: 969.833px;
        height: 183px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #2D2A2A;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .ky p{
        display: flex;
        width: 969.833px;
        height: 183px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #2D2A2A;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .gsm p{
        text-align: right;
        display: flex;
        width: 969.833px;
        height: 183px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #2D2A2A;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .lm p{
        display: flex;
        width: 969.833px;
        height: 183px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #2D2A2A;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .bateria p{
        text-align: right;
        display: flex;
        width: 969.833px;
        height: 183px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #2D2A2A;
        text-align: right;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .figuree{
        display: flex;
        justify-content: right;
      }
    
    .figuree img{
        width: 35rem;
        height: 35rem;
    }
}