*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.botao-menu {
    border: 1px solid #ccc;
    height: 4rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.menu {
    border: 1px solid #ccc;
    width: 12rem;
    height: calc(100vh - 4rem);
    padding-right: 2rem;
    transition: translate .3s;
}

.menu nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}   

.menu.close {
    translate: -100%;
}

.menu-desktop {
    background-color: #FFCDC6;
    display: none;
}

.menupa{
    background-color: #FFCDC6;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.0rem;    
}

.titulopa h1{
    color: #000;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titulopa img{
    float: left;
    justify-content: left;
    width: 2rem;  
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.contentpa{
    text-align: left;
    justify-content: left;
}

.textpa{
    margin-top: 0.2rem;
    margin-left: 1rem;

    max-width: 50rem;
    text-align: center;
}

.imagem-texto {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-direction: row-reverse;
}

.textpa li{
    color: #000;
    font-family: Commissioner;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textpa p{
    color: #000;
    font-family: Commissioner;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.figurepa{
    display: flex;
    justify-content: center;
  }

.figurepa img{
    width: 20rem;
}


@media(min-width: 900px) {
    .menu-mobile {
        background-color: #FFCDC6;
        display: flex;
        justify-content: space-between;
        display: none;
    }

    .menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .publico{
        background: #F5F0F0;
    }

    .menupa{
        background-color: #FFCDC6;
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat;
        font-size: 1.2rem;
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.0rem;    
    }
    
    .titulopa h1{
        color: #000;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .titulopa img{
        float: left;
        justify-content: left;
        width: 2rem;  
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    
    .contentpa{
        text-align: left;
        justify-content: left;
    }

    .textpa{
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    
    .textpa li{
        color: #000;
        font-family: Commissioner;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .textpa p{
        color: #000;
        font-family: Commissioner;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .pt2{
        text-align: right;
        justify-content: right;
    }

    .pt2 li{
        color: #000;
        font-family: Commissioner;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    
    .figurepa{
        display: flex;
        justify-content: center;
      }
    
    .figurepa img{
        width: 40rem;
    }
}